<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.atom.dao.DeployMapper">

    <select id="getList" resultType="com.example.atom.model.DeploymentGroup">
        SELECT
            SERVICEID
            , SERVICENAME
            , ARCHITECTURE
            , DESCRIPTION
            , STATUS
            , DATE
        FROM DEPLOYMENT
    </select>
    <delete id="deleteList" parameterType="String">
        DELETE FROM DEPLOYMENT
        WHERE
            SERVICEID = #{id}
    </delete>
    <insert id="addList" parameterType="com.example.atom.model.DeploymentGroup">
        INSERT INTO DEPLOYMENT
        (
            SERVICEID
            , SERVICENAME
            , ARCHITECTURE
            , DESCRIPTION
            , STATUS
            , DATE
        ) VALUES (
            #{serviceId},
            #{serviceName},
            #{architecture},
            #{description},
            #{status},
            #{date}
        )
    </insert>
    <update id="modifyList" parameterType="com.example.atom.model.ModifyModel">
        UPDATE DEPLOYMENT SET
            SERVICENAME = #{serviceName}
            , ARCHITECTURE = #{architecture}
            , DESCRIPTION = #{description}
        WHERE
            SERVICEID = #{serviceId}
    </update>

</mapper>